<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IPISAService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://192.168.0.107:6086/PISAService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPISAService"
                contract="IPISAService" name="BasicHttpBinding_IPISAService" />
        </client>
    </system.serviceModel>
</configuration>