@using QRMSWeb.Components.Features.Inventory
@{
    ViewData["Title"] = "Danh mục kiểm kê";
}

<div class="content">
    <div class="container-fluid">
        <component type="typeof(InventoryWrapper)" render-mode="ServerPrerendered" />
    </div>
</div>