@using QRMSWeb.Components.Features.PurchaseOrderItems
@{
    ViewData["Title"] = "Chi tiết đơn mua hàng";
    ViewBag.AccountID = ViewContext.RouteData.Values["id"];

}

<div class="content">
    <div class="container-fluid">
        <component type="typeof(PurchaseOrderItemForm)"
                   param-AccountID="@(ViewBag.ID)"
                   param-IsDtail="@(true)"
                   render-mode="ServerPrerendered"/>
    </div>
</div>