@using QRMSWeb.Components.Features.PurchaseOrderItems
@{
    ViewData["Title"] = "Danh mục đơn mua hàng";
}

<div class="content">
    <div class="container-fluid">
        <component type="typeof(PurchaseOrderItemWrapper)" render-mode="ServerPrerendered" />
    </div>
</div>