@using QRMSWeb.Components.Features.PrintingByInstruction
@{
    ViewData["Title"] = "In theo chỉ thị";
}


<div class="content">
    <div class="container-fluid">
        <component type="typeof(PrintingByInstructionWrapper)" render-mode="ServerPrerendered" />
    </div>
</div>