@using QRMSWeb.Components.Features.Users
@{
    ViewData["Title"] = "Quản lý người dùng";
}

<div class="content">
    <div class="container-fluid">
        <component type="typeof(UserWrapper)" render-mode="ServerPrerendered" />
    </div>
</div>