@using QRMSWeb.Components.Features.Users
@{
    ViewData["Title"] = "Thêm mới tài khoản";
}

<div class="content">
    <div class="container-fluid">
         <component type="typeof(UserForm)" render-mode="ServerPrerendered"/>
    </div>
</div>