@using QRMSWeb.Components.Features.Users
@{
    ViewData["Title"] = "Chi tiết tài khoản";
    ViewBag.AccountID = ViewContext.RouteData.Values["id"];

}

<div class="content">
    <div class="container-fluid">
        <component type="typeof(UserForm)"
                   param-AccountID="@(ViewBag.AccountID)"
                   param-IsDtail="@(true)"
                   render-mode="ServerPrerendered"/>
    </div>
</div>