@using QRMSWeb.Components.Features.ImportEquipment
@{
    ViewData["Title"] = "Nhập kho dụng cụ";
}

<div class="content">
    <div class="container-fluid">
        <component type="typeof(ImportEquipmentWrapper)" render-mode="ServerPrerendered" />
    </div>
</div>