@using QRMSWeb.Components.Features.ExportEquipment
@{
    ViewData["Title"] = "Xuất kho thiết bị - dụng cụ";
}

<div class="content">
    <div class="container-fluid">
        <component type="typeof(ExportEquipmentWrapper)" render-mode="ServerPrerendered" />
    </div>
</div>