@using QRMSWeb.Components.Features.ExportDirective
@{
    ViewData["Title"] = "Chi tiết scan thực tế chỉ thị xuất kho";
    ViewBag.TranferOrderNo = ViewContext.RouteData.Values["id"];

}

<div class="content">
    <div class="container-fluid">
        <component type="typeof(ExportDirectiveActualScanDetailWrapper)"
                   param-TranferOrderNo="@(ViewBag.TranferOrderNo)"
                   render-mode="ServerPrerendered" />
    </div>
</div>