@using QRMSWeb.Components.Features.ExportDirective
@{
    ViewData["Title"] = "Danh mục chỉ thị xuất kho";
}

<div class="content">
    <div class="container-fluid">
        <component type="typeof(ExportDirectiveWrapper)" render-mode="ServerPrerendered" />
    </div>
</div>