@using QRMSWeb.Components.Features.Printing
@{
    ViewData["Title"] = "In nhãn";
}


<div class="content">
    <div class="container-fluid">
        <component type="typeof(PrintingForm)" render-mode="ServerPrerendered" />
    </div>
</div>