@using QRMSWeb.Components.Common.TopBar
<header>
    <div class="topbar pl-3" style="white-space: nowrap;  width:100%; height:50px">
        <div class="row" style="height: 50px;">
            <nav class="navbar border-bottom navbar-expand-sm navbar-light text-dark" id="main_navbar" style="height:50px; width:100% ">
                
                <div class="collapse navbar-collapse" id="navbarSupportedContent" style="">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="navbar-brand " href="/Home">QRMSWeb</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle " href="#" role="button" data-bs-toggle="dropdown">
                                Master
                            </a>
                            <ul class="dropdown-menu ">
                                <li class="nav-item">
                                    <a class="nav-link  active " href="/Users">
                                        <span>Người dùng </span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle " href="#" role="button" data-bs-toggle="dropdown">
                                In nhãn
                            </a>
                            <ul class="dropdown-menu">
                                <li class="nav-item">
                                    <a class="nav-link  active " asp-area="" asp-page="/Index">
                                        <span>In nhãn </span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link  active " asp-area="" asp-page="/Index">
                                        <span>In nhãn theo chỉ thị in </span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle " href="#" role="button" data-bs-toggle="dropdown">
                                Thao tác kho
                            </a>
                            <ul class="dropdown-menu">
                                <li class="nav-item dropdown">
                                    <a class="dropdown-item  dropdown-toggle pl-2" href="#" role="button" data-bs-toggle="dropdown">
                                        <span>Xuất kho </span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li class="nav-item">
                                            <a class="nav-link  active " asp-area="" asp-page="/Index">
                                                <span>Nguyên liệu </span>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link  active " asp-area="" asp-page="/Index">
                                                <span>Hoá chất </span>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link  active " asp-area="" asp-page="/Index">
                                                <span>Thiết bị </span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="dropdown-item  dropdown-toggle pl-2" href="#" role="button" data-bs-toggle="dropdown">
                                        <span>Nhập kho </span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li class="nav-item">
                                            <a class="nav-link  active " asp-area="" asp-page="/Index">
                                                <span>Nguyên liệu </span>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link  active " asp-area="" asp-page="/Index">
                                                <span>Hoá chất </span>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link  active " asp-area="" asp-page="/Index">
                                                <span>Thiết bị </span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link  active " asp-area="" asp-page="/Index">
                                        <span>Chuyển kho </span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active " asp-area="" asp-page="/Index">Kiểm kê</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle " href="#" role="button" data-bs-toggle="dropdown">
                                Kết nối với AMIS
                            </a>
                            <ul class="dropdown-menu">
                                <li class="nav-item">
                                    <a class="nav-link  active " href="/PurchaseOrderItems">
                                        <span>Đơn mua hàng </span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link  active " href="/SaleOrder">
                                        <span>Đơn đặt hàng </span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link  active " asp-area="" asp-page="/Index">
                                        <span>Chỉ thị xuất kho </span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link  active " asp-area="" asp-page="/Index">
                                        <span>Chỉ thị chuyển kho </span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div id="user">

                    <component type="typeof(TopBar)"
                               render-mode="ServerPrerendered" />
                </div>
            </nav>
        </div>
    </div>
</header>