@using QRMSWeb.Components.Features.SaleOrder
@{
    ViewData["Title"] = "Chi tiết scan thực tế đơn đặt hàng";
    ViewBag.SaleOrderNo = ViewContext.RouteData.Values["id"];

}

<div class="content">
    <div class="container-fluid">
        <component type="typeof(SaleOrderActualScanDetailWrapper)"
                   param-SaleOrderNo="@(ViewBag.SaleOrderNo)"
                   render-mode="ServerPrerendered" />
    </div>
</div>