@using QRMSWeb.Components.Features.SaleOrder
@{
    ViewData["Title"] = "Thêm mới người dùng";
}

<div class="content">
    <div class="container-fluid">
         <component type="typeof(SaleOrderForm)" render-mode="ServerPrerendered"/>
    </div>
</div>