@using QRMSWeb.Components.Features.SaleOrder
@{
    ViewData["Title"] = "Chi tiết đơn đặt hàng";
    ViewBag.SaleOrderNo = ViewContext.RouteData.Values["id"];

}

<div class="content">
    <div class="container-fluid">
        <component type="typeof(SaleOrderDetailWrapper)"
                   param-SaleOrderNo="@(ViewBag.SaleOrderNo)"
                   param-IsDetail="@(true)"
                   render-mode="ServerPrerendered"/>
    </div>
</div>