@using QRMSWeb.Components.Features.SaleOrder
@{
    ViewData["Title"] = "Cập nhật đơn đặt hàng";
    ViewBag.AccountID = ViewContext.RouteData.Values["id"];

}

<div class="content">
    <div class="container-fluid">
        <component type="typeof(SaleOrderForm)"
                   param-AccountID="@(ViewBag.ID)"
                   param-IsUpdate="@(true)"
                   render-mode="ServerPrerendered"/>
    </div>
</div>