@using QRMSWeb.Components.Features.SaleOrder
@{
    ViewData["Title"] = "Danh mục đơn đặt hàng";
}

<div class="content">
    <div class="container-fluid">
        <component type="typeof(SaleOrderWrapper)" render-mode="ServerPrerendered" />
    </div>
</div>