@using QRMSWeb.Services
@using QRMSWeb.Models
@using QRMSWeb.Utils
@using QRMSWeb.Helper
@using Newtonsoft.Json;

@inject HttpClient _httpClient
@inject IJSRuntime _jsRuntime

<div class="modal fade " id="dialogForgotPassword" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Quên mật khẩu</h5>
                <button type="button" class="close" aria-label="Close" @onclick="OnCloseForgotDialog1">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="padding-bottom: 0px;">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body contain-body-input-form">
                                <form @onsubmit:preventDefault @onsubmit="@OnSubmitForm" autocomplete="off">
                                    <div class="form-group col-12">
                                        <label class="col-12 col-form-labelt label-input-form">Tên tài khoản (*)</label>
                                        <div class="col-12">
                                            <input class="form-control" @bind="USER_NAME" autocomplete="off" type="text">
                                        </div>
                                    </div>
                                    <div class="form-group col-12">
                                        <label class="col-12 col-form-labelt label-input-form">Email nhận mật khẩu (*)</label>
                                        <div class="col-12">
                                            <input class="form-control" @bind="EMAIL" autocomplete="off" type="text">
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row btn-row">
                    <div class="col-12 d-flex flex-row align-items-center justify-content-end">
                        <div class="button-items">
                            <button type="button" class="btn btn-warning waves-effect waves-light mr-3" disabled="@isSubmitting" @onclick="OnCloseForgotDialog1">Đóng</button>
                            <button type="submit" class="btn btn-primary waves-effect waves-light mr-0" disabled="@isSubmitting" @onclick="OnSubmitForm">Lấy lại mật khẩu</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@code {

    private string USER_NAME { get; set; }
    private string EMAIL { get; set; }

    private bool isSubmitting = false;
    private UserService _userService;

    protected override void OnInitialized()
    {
        try
        {
            _userService = new UserService(_httpClient);
        }
        catch (Exception e)
        {
            _jsRuntime.InvokeVoidAsync("handleException", e.Message, "", "");
        }
    }

    private async Task OnInitData()
    {
        try
        {

        }
        catch (Exception e)
        {
            await _jsRuntime.InvokeVoidAsync("handleException", e.Message, "", "");
        }

        await InvokeAsync(StateHasChanged);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        try
        {
            if (firstRender)
            {
                await _jsRuntime.InvokeVoidAsync("disableAutofill");
                await OnInitData();
            }
        }
        catch (Exception e)
        {
            await _jsRuntime.InvokeVoidAsync("handleException", e.Message, "", "");
            await _jsRuntime.InvokeVoidAsync("closeModal", "dialogForgotPassword");
        }
    }

    private async Task OnSubmitForm()
    {
        try
        {
            isSubmitting = true;

            ForgotPasswordModel forgotPasswordModel = new ForgotPasswordModel() { USER_NAME = USER_NAME, EMAIL = EMAIL };

            var response = await _userService.ForgotPassword(forgotPasswordModel);
            string responseBody = await response.Content.ReadAsStringAsync();
            var responseData = JsonConvert.DeserializeObject<ResponseData<Object>>(responseBody);
            if (!String.IsNullOrEmpty(responseData.ErrorCode) && responseData.ErrorCode != "0")
            {

                await _jsRuntime.InvokeVoidAsync("showMessage", "Thông báo", responseData.Message, "error");
            }
            else
            {
                await _jsRuntime.InvokeVoidAsync("showMessage", "Thông báo", responseData.Message, "success");
                await Task.Delay(2000);
                await _jsRuntime.InvokeVoidAsync("closeModal", "dialogForgotPassword");
            }
        }
        catch (Exception e)
        {
            await _jsRuntime.InvokeVoidAsync("handleException", e.Message, "", "");
        }
        isSubmitting = false;
    }

    private async Task OnCloseForgotDialog1()
    {

        await _jsRuntime.InvokeVoidAsync("closeModal", "dialogForgotPassword");
    }


}
