<!-- Background -->
<div class="account-pages"></div>
<!-- Begin page -->
<div class="wrapper-page">

    <div class="card border-0" style="align-items: center">
        <div class="border card-body" style="width:60%; " >
            <h3 class="text-center m-0">
                <a href="javascript:void(1)" class="logo logo-admin">
                    <img src="/assets/images/logoUTECH.png" height="60" alt="logo">
                </a>
            </h3>
            <div class="p-3">
                <h4 class="text-muted font-18 m-b-5 text-center">ĐĂNG NHẬP HỆ THỐNG</h4>
                <form class="form-horizontal mt-30 contain-body-form" autocomplete="off" style="margin-left:30px; margin-right:30px;">
                    <div class="form-group">
                        <label for="username">Tên đăng nhập</label>
                        <input type="text"
                               class="form-control" id="username" placeholder="">
                    </div>

                    <div class="form-group">
                        <label for="userpassword">Mật khẩu</label>
                        <input type="password" class="form-control"
                               id="userpassword" placeholder="">
                    </div>

                    <div class="form-group" style="padding-top:25px;">
                        <div class="col-12 text-center">
                            <button class="btn btn-primary w-md waves-effect waves-light"
                                    type="submit">
                                Đăng nhập
                            </button>
                        </div>
                    </div>
                    <!--<div class="form-group" style="padding-top:15px; padding-bottom:30px">
                        <div class="col-12 text-center">
                            <a class="w-md waves-effect waves-light">
                                Quên mật khẩu
                            </a>
                        </div>
                    </div>-->
                </form>
            </div>

        </div>
    </div>
</div>
