@using QRMSWeb.Components.Features.TransferDirective
@{
    ViewData["Title"] = "Chi tiết chỉ thị chuyển kho";
    ViewBag.TranferNo = ViewContext.RouteData.Values["id"];

}

<div class="content">
    <div class="container-fluid">
        <component type="typeof(TransferDirectiveDetailWrapper)"
                   param-TranferNo="@(ViewBag.TranferNo)"
                   render-mode="ServerPrerendered"/>
    </div>
</div>