@using QRMSWeb.Components.Features.TransferDirective
@{
    ViewData["Title"] = "Danh mục chỉ thị chuyển kho";
}

<div class="content">
    <div class="container-fluid">
        <component type="typeof(TransferDirectiveWrapper)" render-mode="ServerPrerendered" />
    </div>
</div>