@using QRMSWeb.Components.Features.PurchaseOrder
@{
    ViewData["Title"] = "Chi tiết đơn mua hàng";
    ViewBag.PurchaseOrderNo = ViewContext.RouteData.Values["id"];

}

<div class="content">
    <div class="container-fluid">
        <component type="typeof(PurchaseOrderDetailWrapper)"
                   param-PurchaseOrderNo="@(ViewBag.PurchaseOrderNo)"
                   render-mode="ServerPrerendered"/>
    </div>
</div>