@using QRMSWeb.Components.Features.PurchaseOrder
@{
    ViewData["Title"] = "Danh mục đơn mua hàng";
}

<div class="content">
    <div class="container-fluid">
        <component type="typeof(PurchaseOrderWrapper)" render-mode="ServerPrerendered" />
    </div>
</div>